@import url("http://fonts.cdnfonts.com/css/academy");
* {
  margin: 0;
  padding: 0;
}
.full-site {
  --menu-text-color: #34210f;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-image: url(../images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 -100px 160px -100px #000 inset, 0 100px 160px -100px #000 inset;

  .clip-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 630px;
    max-width: 588px;
    width: 100%;
    box-shadow: 0 0 40px 0 #000;
    background-image: url(../images/newBackground/layer1-brown-grid.png);
    border: 1px #94613a solid;

    .orange-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 1 559px;
      height: 621px;
      background-image: url(../images/newBackground/layer2-orange.png);

      .white-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 0 1 553px;
        height: 615px;
        background-image: url(../images/newBackground/layer3-white-with-noise.png);

        .upper {
          flex: 0 0 149px;
          max-width: 548px;
          width: 100%;
          background-image: url(../images/newBackground/upper-layer1-grey.png);
          border-radius: 2px;

          display: flex;
          align-items: center;
          justify-content: center;

          .upper-gray {
            background-image: url(../images/newBackground/upper-layer2-orange.png);
            flex: 0 1 539px;
            height: 141px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;

            .upper-orange {
              flex: 0 1 532px;
              height: 135px;
              background: url(../images/bg-1-header.png) no-repeat 50% 50%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              font-family: "romul";
              text-transform: uppercase;
              position: relative;
              box-shadow: 1px -1px 5px 0 #000 inset,
                -1px 1px 5px 0 #000 inset;

              .company-name {
                font-size: 30px;
                height: 33px;
                margin: -20px 0 0 0;
                text-align: center;
                background: linear-gradient(#fff 40%, #f5dd55);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: 3px 3px 10px black;
              }

              .sep {
                width: 250px;
                height: 1px;
                border-bottom: 2px #c8675e dotted;
              }

              .company-description {
                font-size: 9px;
                margin-top: 2px;
                background: linear-gradient(#fff 40%, #f5dd55);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: 2px 2px 10px black;
              }

              .clip-left {
                background: url(../images/clip-left.png) no-repeat center center;
                position: absolute;
                z-index: 22;
                height: 37px;
                width: 47px;
                left: -44px;
                top: 132px;
              }
              .clip-right {
                background: url(../images/clip-right.png) no-repeat center
                  center;
                position: absolute;
                z-index: 22;
                height: 37px;
                width: 47px;
                left: 529px;
                top: 132px;
              }
            }
          }
        }

        .lower {
          display: flex;
          flex-direction: column;
          flex: 0 1 460px;
          max-width: 548px;
          width: 100%;
          background-image: url(../images/newBackground/background-lower-panel.png);
          box-shadow: 1px -1px 5px 0 #918976 inset,
            -1px 1px 5px 0 #918976 inset;
          border-radius: 2px;

          .main-wrap {
            display: flex;
            flex-direction: column;
            margin-top: -65px;

            flex: 0 0 513px;
            background: url(../images/bg-full-menu-shadow.png) no-repeat 50% 50%;
            z-index: 11;

            %background-for-page {
              flex: 0 0 414px;
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: 2px 0 0 0;
              background-image: url(../images/newBackground/background-page-need-border.png);
              border: 2px #aca7a7 solid;
              width: 382px;
              align-self: center;
            }

            %contacts-on-a-green-background {
              .bg-green {
                --green-contacts-text-color: #ffffcb; //text color on green field, consider transparency

                flex: 0 0 53px;
                width: 379px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: auto 0 1px 0;
                background-image: url(../images/newBackground/bg-footer-green-contacts.png);
                border-radius: 3px;
                box-shadow: 1px -1px 3px 1px rgb(77, 77, 77) inset,
                  -1px 1px 3px 1px rgb(77, 77, 77) inset;

                .green-one {
                  display: flex;
                  justify-content: space-between;
                  padding: 5px 10px 0 10px;

                  p {
                    font-family: Arial;
                    color: var(--green-contacts-text-color);
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: bold;
                    opacity: 0.8;
                    text-shadow: 2px 2px 2px black;
                  }

                  a {
                    font-family: Arial;
                    font-weight: bold;
                    color: var(--green-contacts-text-color);
                    font-size: 14px;
                    text-decoration: none;
                    opacity: 0.8;
                    text-shadow: 2px 2px 2px black;
                  }
                }

                .green-two {
                  display: flex;
                  justify-content: space-between;
                  padding: 0 15px 0 10px;

                  a {
                    font-family: Arial;
                    color: var(--green-contacts-text-color);
                    opacity: 0.8;
                    font-size: 9px;
                    text-decoration: none;
                    align-self: flex-end;
                  }
                }
              }
            }

            .head-menu {
              padding-bottom: 2px;
              border-bottom: 1px #8f8571 dotted;
              width: 385px;
              align-self: center;
              flex: 0 0 33px;
              display: flex;
              justify-content: center;
              margin-top: 36px;

              .menu-list {
                flex: 0 0 384px;
                display: flex;
                list-style: none;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                background-color: #7c7155;
                box-shadow: 1px -1px 1px 0 #7c7155, -1px 1px 1px 0 #7c7155,
                  1px 1px 1px 0 #7c7155, -1px -1px 1px 0 #7c7155;

                .menu-button {
                  flex: 0 0 96px;
                  height: 33px;
                  display: flex;
                  justify-content: center;
                  box-shadow: 0 0 1px 0 #7c7155 inset;
                  border-radius: 3px;
                  background-color: #c6b48a;

                  a {
                    align-self: center;
                    text-decoration: none;
                    color: var(--menu-text-color);
                    text-transform: uppercase;
                    font-family: Academy Filled 3d, sans-serif;
                    font-weight: bold;
                    font-size: 10px;
                  }
                }
              }
            }

            .menu-page {
              --text-color-header-and-price: #4b4a47;
              --text-color: #6a6761; //color text on page
              @extend %background-for-page;

              .menu-page-list {
                display: flex;
                flex-direction: column;
                width: 340px;
                margin: auto 0;
                font-size: 10px;
                font-family: Tahoma;

                .menu-page-list-item {
                  display: flex;
                  padding-left: 10px;
                  height: 17px;
                  align-items: center;
                  background: url(../images/list-style.png) no-repeat 0 60%;
                  border-bottom: 1px #b4ab96 dotted;

                  a {
                    color: var(--text-color);
                    text-decoration: none;
                  }

                  .from {
                    margin: 0 2px 0 auto;
                    color: var(--text-color);
                  }

                  .price {
                    color: var(--text-color-header-and-price);
                    font-weight: bold;
                  }

                  &:first-child {
                    color: var(--text-color-header-and-price);
                    background: none;
                    padding-left: 0;
                  }
                }

                &:first-child {
                  margin-top: 25px;
                }
              }

              @extend %contacts-on-a-green-background;
            }

            .drinks-page {
              //OUR DRINKS - page
              --description-text-color: #303030;

              @extend %background-for-page;

              .drinks {
                display: flex;
                flex-direction: column;
                list-style: none;

                .drink {
                  flex: 0 0 73px;
                  margin: 4px 0 0 0;
                  background: url(../images/page2/brown-opacity.png);
                  border-radius: 5px;
                  align-items: center;
                  display: flex;
                  margin: 3px 15px;

                  img {
                    height: 53px;
                    width: 73px;
                    margin: 0 10px;
                    padding: 2px;
                    background-image: url(../images/page2/bg-drinks.png);
                    border-radius: 3px;
                  }

                  .drink-description {
                    display: flex;
                    flex-wrap: wrap;
                    font-family: Tahoma;
                    color: var(--description-text-color);

                    a {
                      text-decoration: none;
                      color: var(--description-text-color);
                      font-weight: bold;
                      margin-right: 5px;
                      font-size: 12px;
                    }

                    .drink-price {
                      color: var(--description-text-color);
                      font-weight: bold;
                      font-size: 12px;
                    }

                    p {
                      font-size: 9px;
                      margin: 5px 0 0 0;
                      color: var(--description-text-color);

                      span {
                        font-weight: bold;
                      }
                    }
                  }

                  &:first-child {
                    margin: 20px 15px 3px 15px;
                  }
                }
              }
            }

            .contacts-page {
              @extend %background-for-page;

              .contacts-page-content {
                display: flex;
                flex-direction: column;
                flex: 0 0 360px;
                width: 385px;

                align-items: flex-start;
                font-size: 10px;
                flex-flow: column wrap;
                overflow: auto;
                font-family: Tahoma;
                color: #6a6761;

                span {
                  font-weight: bold;
                }

                .pizza-present {
                  color: #af3c0c;
                  font-weight: bold;
                  margin: 20px 0 0 20px;

                  h2 {
                    font-size: 15px;
                    opacity: 0.7;
                    text-transform: uppercase;
                  }
                  p {
                    font-size: 9px;
                    opacity: 0.7;
                    margin: 0 0 5px 0;
                  }
                  img {
                    background: url(../images/page3/bg-pizza.png) no-repeat;
                    padding: 12px 24px 0 24px;
                  }
                }

                .pizza-text {
                  width: 130px;
                  margin: 10px 0 10px 20px;

                  p {
                    margin: 15px 0 15px 0;
                  }

                  ul {
                    list-style: none;
                    color: var(--description-text-color);

                    li {
                      margin: 3px 0;
                      a {
                        color: var(--description-text-color);
                      }
                    }
                  }

                  a {
                    color: var(--description-text-color);
                  }
                }

                .our-contacts {
                  margin: 20px 0;

                  h3 {
                    font-size: 14px;
                    margin: 0 0 10px 0;
                  }

                  a {
                    text-decoration: none;
                    color: var(--description-text-color);
                  }

                  .contact-company-name {
                    margin-bottom: 15px;

                    .telephone-box {
                      display: flex;
                      justify-content: space-between;
                      width: 130px;
                    }
                  }

                  .contact-pr-marketing {
                    margin-bottom: 0;
                  }
                }

                .contact-form {
                  width: 200px;

                  h3 {
                    margin-bottom: 15px;
                  }

                  form {
                    display: flex;
                    flex-wrap: wrap;
                    overflow: hidden;

                    %form-font {
                      font-family: Tahoma;
                      font-size: 9px;
                    }

                    %form-border {
                      outline: none;
                      border: 1px #767676 solid;
                      border-radius: 1px;
                      box-shadow: 1px -1px 1px 0 #767676;
                    }

                    input[type="text"] {
                      padding: 0 0 0 3px;
                      margin: 2px 0 0 0;
                      width: 87px;
                      height: 15px;
                      @extend %form-font;
                      @extend %form-border;
                    }

                    input[type="email"] {
                      padding: 0 0 0 3px;
                      margin: 2px 2px 0 auto;
                      width: 87px;
                      size: 30px;
                      height: 15px;
                      @extend %form-border;
                      @extend %form-font;
                    }

                    textarea {
                      margin: 7px 2px 7px 0;
                      padding: 2px 3px;
                      flex: 1 0 160px;
                      resize: none;
                      height: 65px;
                      @extend %form-border;
                      @extend %form-font;
                    }

                    input[name="reset"] {
                      margin: 0 7px 0 auto;
                    }

                    input[type="submit"] {
                      width: 60px;
                      height: 16px;
                      font-size: 9px;
                      background: #dbccab;
                      border: none;
                      border-radius: 2px;
                      box-shadow: 1px -1px 2px 0 #918976 inset,
                        -1px 1px 2px 0 #918976 inset;
                      color: #6a6761;
                      @extend %form-font;
                      font-weight: bold;
                      cursor: pointer;
                    }
                  }
                }
              }

              @extend %contacts-on-a-green-background;
            }

            .green-white-orange-line {
              flex: 0 0 12px;
              margin: 2px 0 0 0;
              padding-top: 4px;
              background: url(../images/green-white-orange.png) no-repeat 50%
                50%;
              border-top: 1px #8f8571 dotted;
              width: 388px;
              align-self: center;
            }
          }
        }
      }
    }
  }

  .copyright {
    color: #fff;
    opacity: 0.4;
    font-family: Tahoma;
    font-size: 9px;
    margin-top: 5px;
  }
}
